
<div class="container">
    <h1 >
        About 21 Days Meditation Challenge.</h1>
    <br>


    <form ng-submit="todoListAdd(todo)">
        <div class="form-group" style="margin-left: 350px;
">
            <input type="text" style="width: 50%;" class="form-control" ng-model="todo" placeholder="Task">
        </div>
        <ui ng-repeat="todo in todoList">
               <li style="width: 34%;margin-left: 350px;
"class="alert alert-warning">
            {{todo}}

            </li>

        </ui>

        <button type="submit" class="btn btn-success    ">Add Task</button>
    </form>



</div>



</div>