
<div class="container">
<h1 >
    Welcome to the 21 Days Meditation Challenge.</h1>

    <br> <br>
    <div class="col-md-12">
        <h4> Happiness is a state of mind, therefore the real source of happiness lies in the mind, not in external circumstances. </h4>

        <h4>
            Meditation is a practice in which an individual trains the mind or induces a mode of consciousness, either to realize some benefit or for the mind to simply acknowledge its content without becoming identified with that content. or as an end in itself.

        </h4>
        <br> <br>
    <div class="col-md-12">
        <blockquote>
            The purpose of meditation is to cultivate those states of mind that are conducive to peace and well-being, and to eradicate those that aren’t.
            <footer>Author : Buddha</footer>

        </blockquote>
    </div>

    </div>

    <a href="#/med"><buttton class="btn btn-primary btn-lg btn-test">Learn More </buttton></a>


</div>