
<div class="container">
    <h1 >
        Meditation Guide.</h1>
    <br>

<div class="clearfix">
    <div class="col-md-12">
      <blockquote>
          The purpose of meditation is to cultivate those states of mind that are conducive to peace and well-being, and to eradicate those that aren’t.

      </blockquote>



    </div> <div class="col-md-12">
    <h4> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
        piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
        from a Lorem Ipsum passage, and going through the cites of the word in classical </h4>



</div>
</div>


</div>